*,
*::after,
*::before   {
    box-sizing: border-box;
}

body    {
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: rgb(52, 70, 173);
    display: flex;
    justify-content: center;
}

.title{
    font-size: 70px;
    font-weight: 700;
}